.ShopContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.ShopContainer1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1650px;
    flex-direction: column;
    margin-bottom: 180px;
}

.ShopHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 130px;
    flex-direction: column;
}

.ShopHeaderLeft{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    text-align: center;
}

.ShopHeaderLeft h1{
    font-size: 2rem;
    letter-spacing: 3px;
    text-align: center;
}

.ShopHeaderRight{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    border-radius: 30px;
    border: 1px solid black;
    cursor: pointer;
}

.ShopHeaderRightIcon{
    width: 22px;
    margin-right: 10px;
}

.ShopHeaderRight p{
    padding: 0px;
    margin: 0px;
}

.ShopMain{
    margin-top: 30px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
}

@media(min-width: 351px){
    .ShopMain{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 651px){
    .ShopHeaderLeft p{
        margin-left: 15px;
    }
}

@media(min-width: 769px){
    .ShopMain{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(min-width: 1031px){
    .ShopMain{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(min-width: 950px){
    .ShopHeader{
        flex-direction: row;
    }
}

@media(min-width: 1860px){
    .ShopMain{
        grid-template-columns: repeat(5, minmax(280px, 1fr));
    }
}

@media(max-width: 1860px){
    .ShopContainer1{
        width: 1600px;
    }
}

@media(max-width: 1660px){
    .ShopContainer1{
        width: 1400px;
    }
}

@media(max-width: 1520px){
    .ShopContainer1{
        width: 1200px;
    }
}

@media(max-width: 1300px){
    .ShopContainer1{
        width: 1100px;
    }
}

@media(max-width: 1190px){
    .ShopContainer1{
        width: 90%;
    }
}

@media(max-width: 550px){
    .ShopHeaderLeft{
        box-sizing: border-box;
        padding: 0px 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .ShopHeaderLeft h1{
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0px 0px 20px 0px;
    }
}