.CategoryBlockDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 420px;
    position: relative;
    cursor: pointer;
    margin-bottom: 30px;
}

.CategoryBlockDiv::before{
    background-color: rgba(0, 0, 0, 0.34);
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.CategoryBlockDiv h1{
    color: white;
    position: relative;
}


@media(min-width: 430px){
    .CategoryBlockDiv{
        height: 470px;
    }
}

@media(min-width: 540px){
    .CategoryBlockDiv{
        height: 430px;
    }
}

@media(min-width: 850px){
    .CategoryBlockDiv{
        height: 470px;
    }
}

@media(min-width: 1300px){
    .CategoryBlockDiv{
        height: 500px;
    }
}

@media(min-width: 1520px){
    .CategoryBlockDiv{
        height: 450px;
    }
}

@media(min-width: 1660px){
    .CategoryBlockDiv{
        height: 500px;
    }
}

@media(min-width: 1880px){
    .CategoryBlockDiv{
        height: 550px;
    }
}