.ProductContainerBig{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-bottom: 50px;
    cursor: pointer;
}

.ProductImgBig{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 380px;
    object-fit: cover;
}

@media(min-width: 1660px){
    .ProductImgBig{
        height: 410px;
    }
}

@media(min-width: 1660px){
    .ProductImgBig{
        height: 430px;
    }
}