.ProductContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 305px;
    flex-direction: column;
    margin-bottom: 50px;
    cursor: pointer;
}

.ProductImg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 440px;
    background-image: url('../../static/images/hoodie1.jpg');
    background-position: center;
    background-size: cover;
}

.ProductInfo{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
}

.ProductInfoH1{
    margin: 0px;
    font-size: 1rem;
    line-height: 32px;
    margin: 15px 0px 0px 0px;
    font-weight: 600;
}

.ProductSizesDiv{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.ProductInfoPriceDiv{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.ProductInfoPrice{
    font-size: 0.95rem;
    margin: 2px 0px 0px 0px;
    text-decoration: line-through;
    margin-right: 10px;
}

.ProductInfoDiscountPrice{
    font-size: 1.05rem;
    margin: 2px 0px 0px 0px;
}

@media(max-width: 1660px){
    .ProductContainer{
        width: 260px;
    }

    .ProductImg{
        height: 430px;
    }
}

@media(max-width: 1520px){
    .ProductContainer{
        width: 220px;
    }

    .ProductImg{
        height: 360px;
    }
}

@media(max-width: 1300px){
    .ProductContainer{
        width: 200px;
    }

    .ProductImg{
        height: 320px;
    }
}

@media(max-width: 1190px){
    .ProductContainer{
        width: 190px;
    }

    .ProductImg{
        height: 320px;
    }

    .ProductContainer:nth-child(1){
        margin-right: 20px;
    }

    .ProductContainer:nth-child(2){
        margin-right: 20px;
    }

    .ProductContainer:nth-child(3){
        margin-right: 20px;
    }

    .ProductContainer:nth-child(4){
        margin-right: 20px;
    }

    .ProductContainer:nth-child(5){
        margin-right: 0px;
    }

    .ProductContainer:nth-child(6){
        margin-right: 20px;
    }

    .ProductContainer:nth-child(7){
        margin-right: 20px;
    }

    .ProductContainer:nth-child(8){
        margin-right: 20px;
    }

    .ProductContainer:nth-child(9){
        margin-right: 20px;
    }

    .ProductContainer:nth-child(10){
        margin-right: 0px;
    }
}

@media(max-width: 1145px){
    .ProductContainer{
        width: 230px;
    }

    .ProductImg{
        height: 360px;
    }

    .ProductContainer:nth-child(1){
        margin-right: 20px;
    }

    .ProductContainer:nth-child(2){
        margin-right: 20px;
    }

    .ProductContainer:nth-child(3){
        margin-right: 20px;
    }

    .ProductContainer:nth-child(4){
        margin-right: 0px;
    }

    .ProductContainer:nth-child(5){
        margin-right: 20px;
    }

    .ProductContainer:nth-child(6){
        margin-right: 20px;
    }

    .ProductContainer:nth-child(7){
        margin-right: 20px;
    }

    .ProductContainer:nth-child(8){
        margin-right: 0px;
    }

    .ProductContainer:nth-child(9){
        margin-right: 0px;
        display: none;
    }

    .ProductContainer:nth-child(10){
        margin-right: 0px;
        display: none;
    }
}

@media(max-width: 1089px){
    .ProductContainer{
        width: 220px;
    }

    .ProductImg{
        height: 360px;
    }
}

@media(max-width: 1045px){
    .ProductContainer{
        width: 210px;
    }

    .ProductImg{
        height: 340px;
    }
}

@media(max-width: 1000px){
    .ProductContainer{
        width: 200px;
    }

    .ProductImg{
        height: 320px;
    }
}

@media(max-width: 956px){
    .ProductContainer{
        width: 190px;
    }

    .ProductImg{
        height: 300px;
    }
}

@media(max-width: 912px){
    .ProductContainer{
        width: 180px;
    }

    .ProductImg{
        height: 280px;
    }
}

@media(max-width: 867px){
    .ProductContainer{
        width: 230px;
    }

    .ProductImg{
        height: 360px;
    }

    .ProductContainer:nth-child(1){
        margin-right: 20px;
    }

    .ProductContainer:nth-child(2){
        margin-right: 20px;
    }

    .ProductContainer:nth-child(3){
        margin-right: 0px;
    }

    .ProductContainer:nth-child(4){
        margin-right: 20px;
    }

    .ProductContainer:nth-child(5){
        margin-right: 20px;
    }

    .ProductContainer:nth-child(6){
        margin-right: 0px;
    }

    .ProductContainer:nth-child(7){
        margin-right: 20px;
    }

    .ProductContainer:nth-child(8){
        margin-right: 20px;
    }

    .ProductContainer:nth-child(9){
        margin-right: 0px;
        display: flex;
    }
}

@media(max-width: 812px){
    .ProductContainer{
        width: 220px;
    }

    .ProductImg{
        height: 340px;
    }
}

@media(max-width: 778px){
    .ProductContainer{
        width: 210px;
    }

    .ProductImg{
        height: 330px;
    }
}

@media(max-width: 745px){
    .ProductContainer{
        width: 200px;
    }

    .ProductImg{
        height: 320px;
    }
}

@media(max-width: 712px){
    .ProductContainer{
        width: 190px;
    }

    .ProductImg{
        height: 310px;
    }
}

@media(max-width: 678px){
    .ProductContainer{
        width: 180px;
    }

    .ProductImg{
        height: 300px;
    }
}

@media(max-width: 645px){
    .ProductContainer{
        width: 170px;
    }

    .ProductImg{
        height: 290px;
    }
}

@media(max-width: 612px){
    .ProductContainer{
        width: 160px;
    }

    .ProductImg{
        height: 260px;
    }
}

@media(max-width: 578px){
    .ProductContainer{
        width: 150px;
    }

    .ProductImg{
        height: 250px;
    }
}

@media(max-width: 545px){
    .ProductContainer{
        width: 220px;
    }

    .ProductImg{
        height: 350px;
    }

    .ProductContainer:nth-child(1){
        margin-right: 20px;
    }

    .ProductContainer:nth-child(2){
        margin-right: 0px;
    }

    .ProductContainer:nth-child(3){
        margin-right: 20px;
    }

    .ProductContainer:nth-child(4){
        margin-right: 0px;
    }

    .ProductContainer:nth-child(5){
        margin-right: 20px;
    }

    .ProductContainer:nth-child(6){
        margin-right: 0px;
    }

    .ProductContainer:nth-child(7){
        margin-right: 20px;
    }

    .ProductContainer:nth-child(8){
        margin-right: 0px;
    }

    .ProductContainer:nth-child(9){
        margin-right: 20px;
        display: flex;
    }

    .ProductContainer:nth-child(10){
        margin-right: 0px;
        display: flex;
    }
}

@media(max-width: 512px){
    .ProductContainer{
        width: 210px;
    }

    .ProductImg{
        height: 340px;
    }
}

@media(max-width: 489px){
    .ProductContainer{
        width: 200px;
    }

    .ProductImg{
        height: 320px;
    }
}

@media(max-width: 467px){
    .ProductContainer{
        width: 190px;
    }

    .ProductImg{
        height: 310px;
    }
}

@media(max-width: 445px){
    .ProductContainer{
        width: 180px;
    }

    .ProductImg{
        height: 300px;
    }
}

@media(max-width: 423px){
    .ProductContainer{
        width: 170px;
    }

    .ProductImg{
        height: 290px;
    }
}

@media(max-width: 400px){
    .ProductContainer{
        width: 100%;
    }

    .ProductImg{
        height: 520px;
    }

    .ProductContainer:nth-child(1){
        margin-right: 0px;
    }

    .ProductContainer:nth-child(2){
        margin-right: 0px;
    }

    .ProductContainer:nth-child(3){
        margin-right: 0px;
    }

    .ProductContainer:nth-child(4){
        margin-right: 0px;
    }

    .ProductContainer:nth-child(5){
        margin-right: 0px;
    }

    .ProductContainer:nth-child(6){
        margin-right: 0px;
    }

    .ProductContainer:nth-child(7){
        margin-right: 0px;
    }

    .ProductContainer:nth-child(8){
        margin-right: 0px;
    }

    .ProductContainer:nth-child(9){
        margin-right: 0px;
    }

    .ProductContainer:nth-child(10){
        margin-right: 0px;
    }
}

@media(max-width: 360px){
    .ProductContainer{
        width: 100%;
    }

    .ProductImg{
        height: 480px;
    }
}

@media(max-width: 330px){
    .ProductContainer{
        width: 100%;
    }

    .ProductImg{
        height: 440px;
    }
}

@media(max-width: 310px){
    .ProductContainer{
        width: 100%;
    }

    .ProductImg{
        height: 420px;
    }
}