.ProductContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-bottom: 50px;
    cursor: pointer;
}

.ProductImg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 380px;
    object-fit: cover;
}

.ProductInfo{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
}

.ProductInfoH1{
    margin: 0px;
    font-size: 1rem;
    line-height: 32px;
    margin: 15px 0px 0px 0px;
    font-weight: 600;
}

.ProductSizesDiv{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.ProductInfoPriceDiv{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.ProductInfoPrice{
    font-size: 0.95rem;
    margin: 2px 0px 0px 0px;
    text-decoration: line-through;
    margin-right: 10px;
}

.ProductInfoDiscountPrice{
    font-size: 1.05rem;
    margin: 2px 0px 0px 0px;
}

@media(min-width: 740px){
    .ProductImg{
        height: 300px;
    }
}

@media(min-width: 880px){
    .ProductImg{
        height: 350px;
    }
}

@media(min-width: 1090px){
    .ProductImg{
        height: 400px;
    }
}

@media(min-width: 1660px){
    .ProductImg{
        height: 450px;
    }
}